th{
    background-color: hsl(207, 100%, 14%);
    color: hsl(255, 100%, 100%);
}
.tableData1{
    background-color: #009faa;
    color: #fff
}
.tableData2{
    background-color: #0004ffc9;
    color:#fff
}